.item {
  flex: 1;
  max-height: 700px;
  position: relative;
  background-color: rgb(245, 243, 243);
  height: 670px;
}
.imageItem {
  height: 100%;
}
.imgItem {
  z-index: -1;
}
.itemDetails {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: rgb(228, 127, 3);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media screen and (max-width: 600px) {
  .item {
    height: 190px;
  }
}
