.mainInfo {
  width: 50%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  margin-right: 10px;
  flex: 1 4 50%;

  background-color: rgb(245, 243, 243);
  /* border: green solid; */
}
.desc {
  letter-spacing: 3px;
  margin-bottom: 20px;
}
.main-header {
  margin-bottom: 60px;
  font-weight: bold;
}
.btnInfo {
  background-color: transparent;
  color: green;
  width: fit-content;
  z-index: 1;
}
.btnInfo:hover {
  background-color: #43989b;
}
