.arrowRight {
  align-self: center;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  text-align: center;
  margin-left: auto;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.arrowLeft {
  align-self: center;
  margin-left: 10px;
  border-radius: 40px;
  width: 60px;
  height: 60px;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.mainSlide {
  display: flex;
  width: 100%;
  height: 100vh;
  border: green solid;
}
.arrowIcon {
  align-self: center;
}
.arrowLeft :hover {
  background-color: rgb(116, 202, 242);
  width: 60px;
  border-radius: 40px;
  height: 60px;
}
.arrowRight :hover {
  background-color: rgb(116, 202, 242);
  width: 60px;
  border-radius: 40px;
  height: 60px;
}
