.card {
  /* flex: 1 1 0px; */
  flex: 1 4 25%;
  position: relative;
}
.prod-icons {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.iconsDiv {
  border-radius: 50%;
  margin-left: 10px;
  margin-right: 10px;
  width: 50px;
  height: 50px;
  background-color: aliceblue;
  display: flex;
  align-items: center;
  justify-content: center;
}
.iconsDiv:hover {
  transform: scale(1.1);
  transition: all 0.6s ease;
  background-color: #35ede0;
}
@media screen and (max-width: 600px) {
  .iconsDiv {
    margin-left: 3px;
    margin-right: 3px;
    width: 25px;
    height: 25px;
  }
}
