.inputs2 {
  margin-right: 10px;
  margin-left: 10px;
  /* border: gold solid; */
}
.center2 {
  position: absolute;
  top: 30%;
  left: 30%;
  width: 30%;
  height: fit-content;
  box-shadow: 0 0 0 1px;
  background-color: white;
  display: flex;
  flex-direction: column;
  margin-left: 10px;
}
.buttonSign {
  width: 30%;
  margin-left: 15px;
  background-color: teal;
  margin-top: 15px;
}
.link {
  margin-top: 20px;
  margin-bottom: 10px;
  margin-left: 15px;
}
